@inherits LayoutComponentBase
@inject AppAuthenticationStateProvider session
@inject NavigationManager nav

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<CascadingValue Value="this">
    <div class="page">

        <div class="top-row px-4">
            <div class="py-4 h-full">
                <img class="object-contain h-full" src="/splash logo.png" alt="Logo" />
            </div>
            <MudButton OnClick="logout" Variant="Variant.Outlined">Logout</MudButton>
        </div>
        <main>
             @Body
        </main>

        @* @foreach (var hist in History)
        {
            <p>@hist</p>

            <br />
        }
        @if (History.Count > 1)
        {
            <a @onclick="()=>nav.NavigateTo(History[History.Count-2])">Back</a>
        } *@
        <div class="navmenu">
            <KioskNavMenu />
        </div>
    </div>
</CascadingValue>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
</div>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthState { get; set; }

    List<string> History = [];

    public bool ShowBack { get; set; } = false;
    public bool ShowExit { get; set; } = true;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = (await AuthState).User;
        if (!(user?.Identity?.IsAuthenticated ?? false))
        {
            // nav.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(nav.Uri)}");
            nav.NavigateTo($"kiosk");
        }
        nav.LocationChanged += OnLocationChange;
        if (History.Count == 0)
        {
            History.Add(nav.Uri);
        }
    }

    void logout()
    {
        session.Logout();
        nav.NavigateTo("/kiosk");
    }

    void OnLocationChange(object? sender, LocationChangedEventArgs e)
    {
        // Console.WriteLine($"Moving to '{e.Location}'");
        int loc = History.IndexOf(e.Location);
        if (loc == -1)
        {
            History.Add(e.Location);
        }
        else
        {
            History = History.Slice(0, loc + 1);
        }
        InvokeAsync(StateHasChanged);
    }
}
