@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Nav
@inject AppAuthenticationStateProvider authState

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="layout-shell">
    @if (!ShowHeader)
    {
        <!-- Top navigation bar -->
        <header class="top-nav">
            <nav class="nav-container">
                @if (ShowAdminHeader)
                {
                    <!-- ADMIN NAV -->
                    <div class="nav-left">
                        <NavLink href="/employee/admin/home" class="nav-link" Match="NavLinkMatch.All">Admin Home</NavLink>
                        <NavLink href="/employee/admin/users" class="nav-link">Employees</NavLink>
                        <NavLink href="/employee/home" class="nav-link">Work Orders</NavLink>
                        <NavLink href="/employee/admin/TaskTemplates" class="nav-link">Task Templates</NavLink>
                        <NavLink href="/employee/admin/PartTemplates" class="nav-link">Part Templates</NavLink>
                        <NavLink href="/employee/admin/generatereports" class="nav-link">Reports</NavLink>
                        <NavLink href="/employee/admin/workorderlogs" class="nav-link">Logs</NavLink>
                    </div>

                    <div class="nav-center">
                        <img src="/images/KEYOSK_icon.png" alt="KeyOSk Logo" class="nav-logo" />
                    </div>

                    <div class="nav-right">
                        <a onclick="@Logout" class="nav-link">Logout</a>
                    </div>
                }
                else
                {
                    <!-- EMPLOYEE NAV -->
                    <div class="nav-left">
                        <NavLink href="/employee/home" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
                    </div>

                    <div class="nav-center">
                        <img src="/images/KEYOSK_icon.png" alt="KeyOSk Logo" class="nav-logo" />
                    </div>

                    <div class="nav-right">
                        <a onclick="@Logout" class="nav-link">Logout</a>
                    </div>
                }
            </nav>
        </header>
    }

    <!-- Page content area -->
    <main class="page-body">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool ShowHeader => authState?.CurrentSession is null;
    private bool ShowAdminHeader => authState.CurrentSession is null ? false : authState.CurrentSession.User.UserType == Data.UserType.Admin;

    private async Task Logout()
    {
        await authState.Logout();
    }
}
