#keypad {
    display: grid;
    grid-template: 
        "n-1 n-2 n-3" 1fr
        "n-4 n-5 n-6" 1fr
        "n-7 n-8 n-9" 1fr
        "b n-0 _" 1fr / 1fr 1fr 1fr;
    grid-gap: 0.25em;
    margin-top: 0.5em;
}

.bad-pin * {
    border-color: red;
    animation: shake 0.62s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*#wraper:has(input:focus) {
    outline: solid 2em orange;
}*/